<button type="button" class="pokemon-type-button">
  {{ pokemonType.name }}
</button>

<div class="pokemon-type-dropdown-container">
  @if (pokemonLoadError) {
    <span class="pokemon-type-error">{{ pokemonLoadError }}</span>
  }
  @if (pokemonNames.length) {
    <select
      class="pokemon-type-dropdown"
      (change)="selectPokemon($any($event.target).value)">
      <option value="">Choose a {{ pokemonType.name }} pokemon</option>
      @for (pokemonName of pokemonNames; track pokemonName) {
        <option [value]="pokemonName">{{ pokemonName }}</option>
      }
    </select>
  }
</div>
