:host {
    display: inline-block;
    margin: 20px;
    max-width: 500px;
    min-width: 250px;
    text-align: center;
    width: 30%;
}

.pokemon-opponent {
    border: 2px solid black;
}

.pokemon-name,
.opponent-error {
    display: block;
}

.pokemon-image {
    height: 120px;
    width: 120px;
}
