:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
    width: 85%;
}

.pokemon-cta {
    text-align: center;
    width: 100%;
}

.pokemon-type-item {
    border: 2px solid black;
    margin: 20px;
    width: 25%;
}
