h2, h4 {
	text-align: center;
}

h4 {
	text-transform: uppercase;
}

.pokemon-search-container {
	display: flex;
}

.pokemon-type-container {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	max-width: 1200px;
	width: 70%;
}

.pokemon-searched {
	border-right: 2px solid red;
}

.pokemon-type-item {
	border: 2px solid black;
	margin: 20px;
}
