<div [ngClass]="pokemonDetails.hasOwnProperty('name') ? 'current-pokemon' : ''">
    <span class="pokemon-name">{{pokemonDetails?.name}}</span>
    @if (pokemonDetails?.sprites?.front_default) {
      <img
        class="pokemon-image"
        [src]="pokemonDetails.sprites.front_default"
        [alt]="pokemonDetails?.name || 'pokemon image'"
        width="96"
        height="96"
        [attr.loading]="prioritizeLcp ? 'eager' : 'lazy'"
        [attr.fetchpriority]="prioritizeLcp ? 'high' : null"
        decoding="async">
    } @else {
      <div
        class="pokemon-image pokemon-image-placeholder"
        role="img"
        [attr.aria-label]="pokemonDetails?.name ? 'No sprite image for ' + pokemonDetails.name : 'Pokémon sprite unavailable'"></div>
    }
</div>
